@import url("https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|outline|brick-sign");

:root {
    --backcolor: rgb(246, 246, 196)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geneva", Verdana, sans-serif;
}

body {
    background-color: #5e60dc;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upper_box {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}

.custom-select {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.select-selected {
    border-radius: 5px;
    background-color: white;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

.select-options {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 40px;
    border-radius: 5px;
}

.select-option {
    padding: 10px;
    cursor: pointer;
}

.select-option:hover {
    background-color: #ddd;
}

.timer{
    height: 100%;
    width: 80px;
    display: flex;
    align-items: center;
    font-size: 2em;
    color: white;
}

.timer img{
    mix-blend-mode: multiply;
    max-width: 80%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.flag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 5px;
}

#flagleft {
    font-size: 1.6em;
    color: white;
}

.board {
    display: grid;
    grid-template-columns: repeat(var(--length), 50px);
    grid-template-rows: repeat(var(--breadth), 50px);
    gap: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.board>* {
    width: 100%;
    height: 100%;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    user-select: none;
    transition: all 0.1s ease;
    border-radius: 6px;
}

.hidden {
    background-color: #88a2ba;
    cursor: pointer;
}

.marked {
    background-image: url(Flag.webp);
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 4px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.revealed {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 4px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color: rgba(255, 255, 255, 0.716);
    background-color: white;
}

.blue {
    background-color: #1ECBEB;
}

.red {
    background-color: red;
}

.yellow {
    background-color: rgba(255, 255, 0, 0.814);
}

.pink {
    background-color: #f52486c9;
}

.green {
    background-color: #92D787;
}

.violet {
    background-color: #7C90DB;
}

.gameover {
    display: none;
    font-family: "Poppins";
    margin-bottom: 5px;
    font-size: 2em;
}

.gamewin {
    display: none;
    margin-bottom: 5px;
    font-size: 2em;
}

.mine {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(mine.gif);
}

.playagain {
    opacity: 0;
    transition: opacity 2s ease-in-out;
    background-color: green;
    color: aquamarine;
    padding: 10px;
    font-size: large;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

@media (width<=780px) {
    .upper_box{
        width: 100%;
        margin: auto;
    }
    .timer{
        font-size: 1.4em;
    }

    .timer img{
        max-width: 60%;
    }

    .board {
        width: 100%;
        grid-template-columns: repeat(var(--length), 30px);
        grid-template-rows: repeat(var(--breadth), 30px);
    }
}
